@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}

.imagens{
    border-radius: 10% !important;
    max-width: 100%;
    height: auto;

}

.titulos{
    padding-top: 2%;    

}

.favs {
    background-color: #555555;
    padding: 10px;
    color: #355B8C;
}